DEBUG=True
DB_NAME=dbname
DB_USER=dbusername
DB_PASSWORD=dbpass
DB_HOST=db
DB_PORT=5432
SECRET_KEY_MAIN_API=change-me
SECRET_KEY_FRONTEND=change-me-too
DJANGO_ALLOWED_HOSTS=main-api,localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=zaharovo.settings
