<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    <!-- Подключаем Bootstrap для быстрого оформления -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-Mai6rV9sEpJMOHzB9g6D3eJrSzzo30w+GGkoF6m0+rzt3Qq4F0w3D5F1SBpZfRcv"
            crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">Магазин</h1>
    <div class="row">
        {% if products %}
        {% for product in products.results %}
        <div class="card col-md-4 m-2">
            <div class="card-body">
                <h2 class="card-title">{{ product.name }}</h2>
                <h3 class="card-category">Категория: {{ product.category }}</h3>
                <p class="card-text">Описание: {{ product.description or "Нет описания" }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                Не удалось получить данные с API или список пуст.
            </div>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>
